﻿ <section class=" slider_section ">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">01</li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1">02</li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2">03</li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3">04</li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4">05</li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="slider_detail-box">
                                        <h1>
                                            Welcome <br>
                                            to our <br>
                                            car <br>
                                            showroom
                                        </h1>
                                        <div class="btn-box">
                                            <a href="" class="btn-1">
                                                Book Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="slider_detail-box">
                                        <h1>
                                            Welcome <br>
                                            to our <br>
                                            car <br>
                                            showroom
                                        </h1>
                                        <div class="btn-box">
                                            <a href="" class="btn-1">
                                                Book Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="slider_detail-box">
                                        <h1>
                                            Welcome <br>
                                            to our <br>
                                            car <br>
                                            showroom
                                        </h1>
                                        <div class="btn-box">
                                            <a href="" class="btn-1">
                                                Book Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="slider_detail-box">
                                        <h1>
                                            Welcome <br>
                                            to our <br>
                                            car <br>
                                            showroom
                                        </h1>
                                        <div class="btn-box">
                                            <a href="" class="btn-1">
                                                Book Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 ">
                                    <div class="slider_detail-box">
                                        <h1>
                                            Welcome <br>
                                            to our <br>
                                            car <br>
                                            showroom
                                        </h1>
                                        <div class="btn-box">
                                            <a href="" class="btn-1">
                                                Book Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel_btn-container">
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </section>
        <!-- end slider section -->
    </div>

    <!-- find section -->
    <section class="find_section layout_padding2">
        <div class="container">
            <form action="">
                <div>
                    <h5>
                        Find Your car
                    </h5>
                </div>
                <div class=" form-row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" placeholder="Keyword ">
                    </div>
                    <div class="col-sm-4">
                        <select name="" id="" class="form-control">
                            <option value="">Make All</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                            <option value="">Option 3</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select name="" id="" class="form-control">
                            <option value="">Model</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                            <option value="">Option 3</option>
                        </select>
                    </div>
                </div>
                <div class="d-flex justify-content-center justify-content-sm-end">
                    <button type="submit" class="">
                        Search
                    </button>
                </div>
            </form>
        </div>
    </section>

    <!-- end find section -->
    <!-- car section -->
    <section class="car_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Our Cars
                </h2>
                <hr>
            </div>
            <div class="layout_padding">
                <div class="row">
                    <div class="col-md-6 c-1">
                        <div class="img-box">
                            <img src="~/images/car-1.png" alt="">
                        </div>
                        <div class="detail-box">
                            <div class="btn-box">
                                <a href="">
                                    Book Now
                                </a>
                            </div>
                            <div class="detail_text">
                                <div class="name">
                                    <h4>
                                        Camry
                                    </h4>
                                </div>
                                <div class="price">
                                    <h4>
                                        <span>
                                            $
                                        </span>
                                        30000.00
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 c-2">
                        <div class="img-box">
                            <img src="~/images/car-2.png" alt="">
                        </div>
                        <div class="detail-box">
                            <div class="btn-box">
                                <a href="">
                                    Book Now
                                </a>
                            </div>
                            <div class="detail_text">
                                <div class="name">
                                    <h4>
                                        Bmw
                                    </h4>
                                </div>
                                <div class="price">
                                    <h4>
                                        <span>
                                            $
                                        </span>
                                        40000.00
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 c-3">
                        <div class="img-box">
                            <img src="~/images/car-3.png" alt="">
                        </div>
                        <div class="detail-box">
                            <div class="btn-box">
                                <a href="">
                                    Book Now
                                </a>
                            </div>
                            <div class="detail_text">
                                <div class="name">
                                    <h4>
                                        Lamborghini
                                    </h4>
                                </div>
                                <div class="price">
                                    <h4>
                                        <span>
                                            $
                                        </span>
                                        60000.00
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 c-4">
                        <div class="img-box">
                            <img src="~/images/car-4.png" alt="">
                        </div>
                        <div class="detail-box">
                            <div class="btn-box">
                                <a href="">
                                    Book Now
                                </a>
                            </div>
                            <div class="detail_text">
                                <div class="name">
                                    <h4>
                                        Audi
                                    </h4>
                                </div>
                                <div class="price">
                                    <h4>
                                        <span>
                                            $
                                        </span>
                                        50000.00
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a href="" class="see_more-btn">
                    See More
                </a>
            </div>
        </div>
    </section>

    <!-- end car section -->
    <!-- about section -->
    <section class="about_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    About Showroom
                </h2>
                <hr>
            </div>
            <div>
                <p>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking
                    at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, It
                    is a long established fact that a reader will be distracted by the readable content of a page when looking at
                    its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, It is
                    a long established fact that a reader will be distracted by the readable content of a page when looking at its
                    layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                </p>
            </div>
            <div>
                <a href="">
                    Read More
                </a>
            </div>
        </div>
    </section>


    <!-- end about section -->
    <!-- feature section -->

    <section class="feature_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Featured Cars
                </h2>
                <hr>
            </div>
            <div class="carousel-wrap layout_padding2 ">
                <div class="owl-carousel owl-one">
                    <div class="item">
                        <div class="content">
                            <div class="number-box">
                                01
                            </div>
                            <div class="top-content">
                                <div class="img-box">
                                    <img src="~/images/car.png" />
                                </div>
                                <div class="img-text">
                                    <h6 class="price">
                                        $80000.00
                                    </h6>
                                    <h6>
                                        $70000.00
                                    </h6>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <h5>
                                    Best Audi car
                                </h5>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour, or e
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="number-box">
                                02
                            </div>
                            <div class="top-content">
                                <div class="img-box">
                                    <img src="~/images/car.png" />
                                </div>
                                <div class="img-text">
                                    <h6 class="price">
                                        $80000.00
                                    </h6>
                                    <h6>
                                        $70000.00
                                    </h6>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <h5>
                                    Best Audi car
                                </h5>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour, or e
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="number-box">
                                03
                            </div>
                            <div class="top-content">
                                <div class="img-box">
                                    <img src="~/images/car.png" />
                                </div>
                                <div class="img-text">
                                    <h6 class="price">
                                        $80000.00
                                    </h6>
                                    <h6>
                                        $70000.00
                                    </h6>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <h5>
                                    Best Audi car
                                </h5>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour, or e
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="number-box">
                                04
                            </div>
                            <div class="top-content">
                                <div class="img-box">
                                    <img src="~/images/car.png" />
                                </div>
                                <div class="img-text">
                                    <h6 class="price">
                                        $80000.00
                                    </h6>
                                    <h6>
                                        $70000.00
                                    </h6>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <h5>
                                    Best Audi car
                                </h5>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour, or e
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="content">
                            <div class="number-box">
                                05
                            </div>
                            <div class="top-content">
                                <div class="img-box">
                                    <img src="~/images/car.png" />
                                </div>
                                <div class="img-text">
                                    <h6 class="price">
                                        $80000.00
                                    </h6>
                                    <h6>
                                        $70000.00
                                    </h6>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <h5>
                                    Best Audi car
                                </h5>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in some form, by injected humour, or e
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- feature section -->
    <!-- special section -->
    <section class="special_section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/car (2).png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Cars Stocks
                            </h5>
                            <h5 class="price">
                                12000
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/trophy.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Awards
                            </h5>
                            <h5 class="price">
                                600+
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/shipped.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                DEALER BRANCHES
                            </h5>
                            <h5 class="price">
                                800+
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/happiness.png" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Happy clients
                            </h5>
                            <h5 class="price">
                                100000+
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end special section -->
    <!-- client section -->

    <section class="client_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    What our clients says
                </h2>
                <hr>
            </div>
            <div class="layout_padding2">
                <div class="client-slick-slider slick-slider">
                    <div class="slick-item">
                        <div class="client-box">
                            <div class="client-detail">
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in
                                    some form, by injected humour, or randomised words which don't look even slightly believable.
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="img-box">
                                    <img src="~/images/client-1.png" alt="">
                                </div>
                                <div class="name">
                                    <h6>
                                        Suffered
                                    </h6>
                                    <p>
                                        Client
                                    </p>
                                    <img src="~/images/quote.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick-item">
                        <div class="client-box">
                            <div class="client-detail">
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in
                                    some form, by injected humour, or randomised words which don't look even slightly believable.
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="img-box">
                                    <img src="~/images/client-2.png" alt="">
                                </div>
                                <div class="name">
                                    <h6>
                                        slightly
                                    </h6>
                                    <p>
                                        Client
                                    </p>
                                    <img src="~/images/quote.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick-item">
                        <div class="client-box">
                            <div class="client-detail">
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in
                                    some form, by injected humour, or randomised words which don't look even slightly believable.
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="img-box">
                                    <img src="~/images/client-3.png" alt="">
                                </div>
                                <div class="name">
                                    <h6>
                                        Randomised
                                    </h6>
                                    <p>
                                        Client
                                    </p>
                                    <img src="~/images/quote.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick-item">
                        <div class="client-box">
                            <div class="client-detail">
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in
                                    some form, by injected humour, or randomised words which don't look even slightly believable.
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="img-box">
                                    <img src="~/images/client-4.png" alt="">
                                </div>
                                <div class="name">
                                    <h6>
                                        alteration
                                    </h6>
                                    <p>
                                        Client
                                    </p>
                                    <img src="~/images/quote.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slick-item">
                        <div class="client-box">
                            <div class="client-detail">
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                                    alteration in
                                    some form, by injected humour, or randomised words which don't look even slightly believable.
                                </p>
                            </div>
                            <div class="client-info">
                                <div class="img-box">
                                    <img src="~/images/client-5.png" alt="">
                                </div>
                                <div class="name">
                                    <h6>
                                        variation
                                    </h6>
                                    <p>
                                        Client
                                    </p>
                                    <img src="~/images/quote.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end client section -->
    <!-- contact section -->

    <section class="contact_section">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Contact Us
                </h2>
                <hr>
            </div>
            <div class="layout_padding">
                <div class="row">
                    <div class="col-md-6">
                        <form action="">
                            <div class="contact_form-container">
                                <div>
                                    <div>
                                        <input type="text" placeholder="Name">
                                    </div>
                                    <div>
                                        <input type="text" placeholder="Phone Number">
                                    </div>
                                    <div>
                                        <input type="email" placeholder="Email">
                                    </div>
                                    <div class="mt-5">
                                        <input type="text" placeholder="Message">
                                    </div>
                                    <div class="mt-5 d-flex justify-content-center justify-content-sm-start">
                                        <button type="submit">
                                            Send
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </form>
                    </div>
                    <div class="col-md-6">
                        <div class="contact_img-box">
                            <img src="~/images/car-service.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- end contact section -->
    <!-- info section -->

    <section class="info_section ">
        <div class="d-flex justify-content-center">
            <div class="social_container">

                <div class="number-box">
                    <a href="">
                        <img src="~/images/phone.png" alt="">
                        <h6>
                            +01 123567894
                        </h6>
                    </a>
                </div>
                <div class="mail-box">
                    <a href="">
                        <img src="~/images/mail.png" alt="">
                        <h6>
                            demo@gmail
                        </h6>
                    </a>
                </div>
                <div class="social-box">
                    <div class="box">
                        <a href="">
                            <img src="~/images/facebook-logo.png" alt="">
                        </a>
                    </div>
                    <div class="box">
                        <a href="">
                            <img src="~/images/twitter.png" alt="">
                        </a>
                    </div>
                    <div class="box">
                        <a href="">
                            <img src="~/images/linkedin.png" alt="">
                        </a>
                    </div>
                    <div class="box">
                        <a href="">
                            <img src="~/images/instagram-logo.png" alt="">
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container layout_padding2 mobile_padding-top-none ">
            <div class="row">
                <div class="col-md-3">
                    <h5>
                        Contact Info
                    </h5>
                    <p>
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
                        some form, by injected humour
                    </p>
                </div>
                <div class="col-md-3">
                    <h5>
                        open hours
                    </h5>
                    <p>
                        Monday 10:00 am to 08:00 pm <br>
                        Sunday : Off <br>
                        Monday 10:00 am to 08:00 pm <br>
                        Monday 10:00 am to 08:00 pm <br>
                        Monday 10:00 am to 08:00 pm
                    </p>

                </div>
                <div class="col-md-3">
                    <h5>

                        Useful link
                    </h5>
                    <ul>
                        <li>
                            <a href="">
                                There are many
                            </a>
                        </li>
                        <li>
                            <a href="">
                                variations of
                            </a>
                        </li>
                        <li>
                            <a href="">
                                passages of Lorem
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Ipsum available,
                            </a>
                        </li>
                        <li>
                            <a href="">
                                but the injected
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">

                    <div class="subscribe_container">
                        <h5>
                            Newsletter
                        </h5>
                        <div class="form_container">
                            <form action="">
                                <input type="email" placeholder="Enter your email">
                                <button type="submit">
                                    Subscribe
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>

    </section>